:root {
    --base-color-primary-1: #222;
    --base-color-primary-2: #000;
    --base-color-secondary-1: #e6e9f0;
    --base-color-secondary-2: #eef1f5;
    --base-color-tertiary: #6ECB63;
}

body {
    font-family: 'Epilogue', sans-serif;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, var(--base-color-primary-1) 0%, var(--base-color-primary-2) 40%);
    color: var(--base-color-tertiary);
}

#info, #more-info {
    padding: 3rem 8rem 4rem 8rem;
}

#info h1 {
    font-size: 2.75rem;
    font-weight: 600;
    padding: 1.25rem 0;
}

/*#info:hover #hello, #info:hover #srivathsan, #info:hover #student, #info:hover #breakcore, #info:hover #free {
    background-image: linear-gradient(to right, var(--base-color-secondary-1) 0%, var(--base-color-secondary-2) 40%);
}*/

#info h2 {
    font-size: 2.4rem;
    padding: 1.25rem 0;
}

#info h3 {
    margin-top: 1rem;
    font-size: 2.25rem;
    padding: 1.25rem 0;
}

#more-info p {
    font-size: 2.25rem;
    margin-bottom: 2rem;
}

#more-info ul {
    text-align: center;
}

#more-info ul li {
    display: inline-block;
    font-size: 1.75rem;
    padding: 1.5rem 2rem;
}

a {
    font-weight: 700;
    text-decoration: dotted underline var(--base-color-tertiary) 2px;
    letter-spacing: normal;
    transition: all 0.3s linear;
}

a:visited {
    color: inherit;
    text-decoration: solid underline var(--base-color-tertiary) 2px;
}

a:hover {
    font-weight: 800;
    letter-spacing: 0.1rem;
}